*.laz
*.las
*.tif
*.tiff
*.msk
*.png
*.csv
*.jpg
*.jpeg
*.json
cloth_nodes.txt
*.npy
treeSegPruebas.ipynb
utilsEjemplos.ipynb
treeSegPrimerosMetodos.ipynb
pruebas.ipynb
__pycache__/
.venv
cache*.npz
cache*.pkl
*.pth
*.pkl